.text-center {
     text-align: center;
}

.bg-red {
    background: burlywood;
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

 .flex-col {
    flex-direction: column;
 }

 .item-center {
     text-align: center;
}













